.cover {
  background-color: var(--theme-bg-color) !important;
  border: 1px solid var(--theme-color) !important;
  padding: 4rem 1rem !important;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .subtitle {
    font-size: 2rem;
    font-family: "Allura";
    color: var(--theme-color);
    margin-bottom: 0.3rem;
  }

  .sub-desc {
    font-size: 0.85rem;
    color: var(--theme-color);
    opacity: 0.8;
    margin-bottom: 4rem;
  }

  .names {
    color: var(--theme-color);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    .and {
      font-family: "Allura";
      font-size: 1.2rem;
      opacity: 0.8;
    }
  }

  .info {
    color: var(--theme-color);
    opacity: 0.8;
    margin-bottom: 0.3rem;
    font-size: 0.95rem;
  }

  .footer-text {
    margin-top: 4rem;
    font-size: 0.75rem;
    color: var(--theme-color);
    opacity: 0.6;
  }
}
